@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap");

:root {
  /* Themes */
  --text-dm-site-title: #d0c9be;
  --text-dm-primary: #d0c9be;
  --text-dm-tertiary: #b0a38c;
  --text-dm-secondary: #ffffff;
  --dm-contrast: #568d5e;
  --bg-dm-primary: #355e3b;
  --bg-dm-secondary:#568d5e;
  /* Other vars */
  --border-radius: 2rem;
}

* {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  -moz-window-dragging: none;
  -webkit-tap-highlight-color: transparent;
}

* img {
  max-width: 100%;
}

html,
body {
  color: var(--text-dm-secondary);
  background-color: var(--bg-dm-primary);
  font-family: "Montserrat", sans-serif;
  line-height: 2rem;
}

main {
  margin: 0 auto;
  max-width: 650px;
  padding: 3rem 0 5rem;
}

main.blogfeed * {
  /* font-weight: 900; */
}

header {
  padding: 2rem 0 4rem 0;
}

header .site-title {
  font-size: 5rem;
  /* font-weight: bolder; */
  line-height: 110%;
  color: var(--text-dm-site-title);
}

#bio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
/* #bio-avatar-wrapper {} */
#bio-avatar {
  width: 180px;
  border-radius: 50%;
}
/* #bio-text-and-social-links {} */
#bio-text {
  line-height: 140%;
}

#bio-text a {
  color: var(--dm-contrast);
  border-bottom: 3px solid var(--dm-contrast);
}

#social-links {
  margin: 2rem 0 3rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

#social-links a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  color: var(--bg-dm-secondary);
  background-color: var(--dm-contrast);
}

#social-links a img {
  width: 20px;
  border-radius: 50%;
}

/* article list styles */

#articles {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 1fr;
  row-gap: 3rem;
  margin-bottom: 3rem;
}

.article {
  background-color: var(--bg-dm-secondary);
  padding: 2rem 2.5rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.article-thumbnail {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 -80px 90px 11px rgba(0, 0, 0, 0.8);
  width: 100%;
  min-height: 200px;
  height: auto;
  margin: -2rem -2.5rem;
  inset: 0;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 2.5rem 1rem 2.5rem;
}

.article-title * {
  color: inherit;
  font-size: 2rem;
  line-height: 120%;
}

.article-bottom {
  margin-top: 1.5rem;
}

.article-date {
  color: var(--dm-contrast);
}

.article-categories {
  margin-top: 0.2rem;
  display: flex;
  gap: 1rem;
}

.article-category {
  padding: 0.4rem 0.8rem;
  border-radius: var(--border-radius);
  color: var(--bg-dm-secondary);
  background-color: var(--dm-contrast);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

/* footer */
footer {
  background: var(--dm-contrast);
  margin: 10rem 0 -3rem 0;
  padding: 2rem 2.5rem;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  font-size: 1.2rem;
  color: var(--bg-dm-secondary);
}


/* NAV */
nav {
  position: fixed;
  bottom: 1rem;
  left: calc(50vw - 10rem);
  width: 20rem;
}

nav ul {
  background: var(--text-dm-primary);
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 100%;
}

nav li {
  color: var(--bg-dm-primary);
  background: var(--text-dm-primary);
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  text-align: center;
  transition-duration: 0.5s;
  width: 100%;
  padding-block: 0.8rem;
}
  
nav li a {
  color: var(--bg-dm-primary);
}

nav li:hover,
nav li:focus-within {
  background: var(--text-dm-tertiary);
  cursor: pointer;
}

nav li:hover a,
nav li:focus-within a {
  outline: none;
   
}

nav ul li ul {
  background: var(--text-dm-primary);
  visibility: hidden;
  opacity: 0;
  width: 100%;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  bottom: 100%;
  display: none;
}

nav ul li:hover > ul,
nav ul li:focus-within > ul,
nav ul li ul:hover,
nav ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

nav ul li ul li {
  clear: both;
  width: 100%;
}