<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main class="blogfeed">
      {% include header.html %}
      <section id="article">
        <div class="article-content">{{content}}</div>
      </section>
      <!-- {% include footer.html %} -->
    </main>

    <nav role="navigation">
        <ul>
            <li><a href="#" aria-haspopup="true">Menu</a>
                <ul class="dropdown" aria-label="submenu">
                    <li><a href="#ruckmeldung">Rückmeldung</a></li>
                    <li><a href="#tagesablauf">Tagesablauf</a></li>
                    <li><a href="#locations">Locations</a></li>
                    <li><a href="#ubernachtung">Übernachtung</a></li>
                    <li><a href="#beitrage">Beiträge</a></li>
                    <li><a href="#dresscode">Dresscode</a></li>
                    <li><a href="#geschenke">Geschenke</a></li>
                </ul>   
            </li>
        </ul>
    </nav>
    <!-- {% include category-modal.html%} -->
  </body>
</html>
